%h1 Listing products

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Description
      %th Price
      %th Actions
      %th
      %th

  %tbody
    - products.each do |product|
      %tr
        %td= product.title
        %td= product.description
        %td= product.price
        %td= link_to 'Show', category_product_path(product.category_id, product)
        - if current_user == product.user
          %td= link_to 'Edit', edit_category_product_path(product.category_id, product)
          %td= link_to 'Destroy', category_product_path(product.category_id, product), method: :delete, data: { confirm: 'Are you sure?' }
        - else
          %td
          %td

%br
